
body{
margin:: 0;
padding: 0; 
background-color: #ffffff ;
}
#Fondo{
	background-color: #e1e1e1;
	height: 1000px;
	margin: 0 auto;
	width: 1370px;
}	

@font-face{
	font-family: "angsa";
	src:url(tipogrfias/angsa.ttf);
}
.navegador{
	width: 1370px;
	margin: 1000 auto;
	background: #f0b429;
}
.navegador ul{
	list-style-type: none; 
	
}
.menu > li{
	position: relative;
	display: inline-block;
}
.menu > li > a{
	display: block;
	padding: 10px 15px;
	color: #ffffff;
	font-family: "franklin";
	text-decoration: none;
}
@font-face{
	font-family: "franklin";
	src:url(tipogrfias/franklin-gothic-heavy.ttf);
}
.Subitem{
	position: absolute;
	background: #005883
	width 120%;
	display: : none;
	opacity: 0;
	transition: opacity 1.5s;
}
.Subitem li a{
	display: block;
	padding: 15px;
	color:#828282;
	font-family: franklinbook;
	text-decoration: none;
}
@font-face{
	font-family: "franklinbook";
	src:url(tipogrfias/franbk.ttf);
}
.menu li:hover .Subitem{
	display: block;
}

button:hover {
background: rgba(0,0,0,0);
color: #3a7999;
box-shadow: inset 0 0 0 3px #3a7999;
}
#fondo{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#redessociales{
	width: 120px;
	height: 40px;
	padding: 10 auto;
	float: left;
}
#videoI{
	float: right;
	padding-top: 0px;
}
#caja{
	width: 620px;
	height: 450px;
	background-color: #ffffff;
}
#pie_pag{
	width: 1370px;
	padding: 10px;
	margin: 1000 auto;
	background-color: #f0b429;
	text-decoration: none;
	text-align: center;
	color: #000;
	position: fixed;
	bottom: 0px;
}
#pie_pagUNAD{
	width: 1370px;
	padding: 10px;
	margin: 1000 auto;
	background-color: #f0b429;
	text-decoration: none;
	text-align: center;
	color: #000;
	position: fixed;
	bottom: 0px;
}
