
body{
margin:0px;
padding: 0px; 
background-color: #ffffff ;
}

#bloque_autor{
	border-radius: 5px;
	background-color: #ffffff;
	height: 280px;
	margin-left: 500px;
	margin-top: 80px;
	padding: 20px;
	width: 245px;
	font-family: "angsa";
	overflow-wrap: break-word;
 	word-wrap: break-word;
 	border-style: solid;
 	
 	border-color: #000000;

}	
